In [126]:
import pandas as pd
from datetime import datetime, timedelta
import statsmodels.api as sm
import pylab as pl
import numpy as np

In [2]:
df_users=pd.read_csv('Asana/takehome_users.csv')

In [3]:
df_users_assign=pd.read_csv('Asana/takehome_user_engagement.csv')

In [4]:
df_users.head()

,object_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id
0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1398138810,1,0,11,10803
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1396237504,0,0,1,316
2,3,2013-03-19 23:14:52,Bottrill Mitchell,MitchellBottrill@gustr.com,ORG_INVITE,1363734892,0,0,94,1525
3,4,2013-05-21 08:09:28,Clausen Nicklas,NicklasSClausen@yahoo.com,GUEST_INVITE,1369210168,0,0,1,5151
4,5,2013-01-17 10:14:20,Raw Grace,GraceRaw@yahoo.com,GUEST_INVITE,1358849660,0,0,193,5240

In [5]:
df_users_assign.head()

            time_stamp  user_id  visited
0  2014-04-22 03:53:30        1        1
1  2013-11-15 03:45:04        2        1
2  2013-11-29 03:45:04        2        1
3  2013-12-09 03:45:04        2        1
4  2013-12-25 03:45:04        2        1

In [6]:
df_users_assign['time_stamp'][0]

'2014-04-22 03:53:30'

In [52]:
date0=datetime.strptime('2014-04-22 03:53:30', '%Y-%m-%d %H:%M:%S')

In [53]:
nine_hours_from_now = date0 + timedelta(weeks=1)

In [54]:
nine_hours_from_now

datetime.datetime(2014, 4, 29, 3, 53, 30)

In [25]:
df_users_assign['time_stamp'][:2]

0    2014-04-22 03:53:30
1    2013-11-15 03:45:04
Name: time_stamp, dtype: object

In [27]:
convertedtime=[]
for elem in df_users_assign['time_stamp']:
    convertedtime.append(datetime.strptime(elem, '%Y-%m-%d %H:%M:%S'))

In [28]:
convertedtime[2]

datetime.datetime(2013, 11, 29, 3, 45, 4)

In [29]:
df_users_assign['convertedtime']=convertedtime

In [108]:
df_users_assign.head(120)

              time_stamp  user_id  visited       convertedtime
0    2014-04-22 03:53:30        1        1 2014-04-22 03:53:30
1    2013-11-15 03:45:04        2        1 2013-11-15 03:45:04
2    2013-11-29 03:45:04        2        1 2013-11-29 03:45:04
3    2013-12-09 03:45:04        2        1 2013-12-09 03:45:04
4    2013-12-25 03:45:04        2        1 2013-12-25 03:45:04
5    2013-12-31 03:45:04        2        1 2013-12-31 03:45:04
6    2014-01-08 03:45:04        2        1 2014-01-08 03:45:04
7    2014-02-03 03:45:04        2        1 2014-02-03 03:45:04
8    2014-02-08 03:45:04        2        1 2014-02-08 03:45:04
9    2014-02-09 03:45:04        2        1 2014-02-09 03:45:04
10   2014-02-13 03:45:04        2        1 2014-02-13 03:45:04
11   2014-02-16 03:45:04        2        1 2014-02-16 03:45:04
12   2014-03-09 03:45:04        2        1 2014-03-09 03:45:04
13   2014-03-13 03:45:04        2        1 2014-03-13 03:45:04
14   2014-03-31 03:45:04        2        1 2014-03-31 03:45:04
15   2013-03-19 23:14:52        3        1 2013-03-19 23:14:52
16   2013-05-22 08:09:28        4        1 2013-05-22 08:09:28
17   2013-01-22 10:14:20        5        1 2013-01-22 10:14:20
18   2013-12-19 03:37:06        6        1 2013-12-19 03:37:06
19   2012-12-20 13:24:32        7        1 2012-12-20 13:24:32
20   2013-01-16 22:08:03       10        1 2013-01-16 22:08:03
21   2013-01-22 22:08:03       10        1 2013-01-22 22:08:03
22   2013-01-30 22:08:03       10        1 2013-01-30 22:08:03
23   2013-02-04 22:08:03       10        1 2013-02-04 22:08:03
24   2013-02-06 22:08:03       10        1 2013-02-06 22:08:03
25   2013-02-14 22:08:03       10        1 2013-02-14 22:08:03
26   2013-02-17 22:08:03       10        1 2013-02-17 22:08:03
27   2013-02-19 22:08:03       10        1 2013-02-19 22:08:03
28   2013-02-26 22:08:03       10        1 2013-02-26 22:08:03
29   2013-03-01 22:08:03       10        1 2013-03-01 22:08:03
..                   ...      ...      ...                 ...
90   2013-07-22 22:08:03       10        1 2013-07-22 22:08:03
91   2013-07-24 22:08:03       10        1 2013-07-24 22:08:03
92   2013-07-25 22:08:03       10        1 2013-07-25 22:08:03
93   2013-07-28 22:08:03       10        1 2013-07-28 22:08:03
94   2013-07-29 22:08:03       10        1 2013-07-29 22:08:03
95   2013-07-30 22:08:03       10        1 2013-07-30 22:08:03
96   2013-08-02 22:08:03       10        1 2013-08-02 22:08:03
97   2013-08-03 22:08:03       10        1 2013-08-03 22:08:03
98   2013-08-04 22:08:03       10        1 2013-08-04 22:08:03
99   2013-08-06 22:08:03       10        1 2013-08-06 22:08:03
100  2013-08-08 22:08:03       10        1 2013-08-08 22:08:03
101  2013-08-10 22:08:03       10        1 2013-08-10 22:08:03
102  2013-08-13 22:08:03       10        1 2013-08-13 22:08:03
103  2013-08-17 22:08:03       10        1 2013-08-17 22:08:03
104  2013-08-19 22:08:03       10        1 2013-08-19 22:08:03
105  2013-08-20 22:08:03       10        1 2013-08-20 22:08:03
106  2013-08-23 22:08:03       10        1 2013-08-23 22:08:03
107  2013-08-24 22:08:03       10        1 2013-08-24 22:08:03
108  2013-08-26 22:08:03       10        1 2013-08-26 22:08:03
109  2013-08-27 22:08:03       10        1 2013-08-27 22:08:03
110  2013-08-29 22:08:03       10        1 2013-08-29 22:08:03
111  2013-08-30 22:08:03       10        1 2013-08-30 22:08:03
112  2013-08-31 22:08:03       10        1 2013-08-31 22:08:03
113  2013-09-01 22:08:03       10        1 2013-09-01 22:08:03
114  2013-09-02 22:08:03       10        1 2013-09-02 22:08:03
115  2013-09-04 22:08:03       10        1 2013-09-04 22:08:03
116  2013-09-05 22:08:03       10        1 2013-09-05 22:08:03
117  2013-09-08 22:08:03       10        1 2013-09-08 22:08:03
118  2013-09-09 22:08:03       10        1 2013-09-09 22:08:03
119  2013-09-10 22:08:03       10        1 2013-09-10 22:08:03

[120 rows x 4 columns]

In [35]:
uniqueid=set(df_users_assign.user_id)

In [57]:
user_id_data=df_users_assign.user_id

In [62]:
dictIDCount={}
for elem in user_id_data:
    if elem in dictIDCount:
        dictIDCount[elem]=dictIDCount[elem]+1
    else:
        dictIDCount[elem]=1

In [82]:
dictIDCount

{1: 1,
 2: 14,
 3: 1,
 4: 1,
 5: 1,
 6: 1,
 7: 1,
 10: 284,
 11: 1,
 13: 1,
 14: 1,
 17: 1,
 19: 2,
 20: 7,
 21: 1,
 22: 1,
 23: 1,
 24: 1,
 25: 2,
 27: 1,
 28: 1,
 29: 1,
 30: 1,
 31: 1,
 33: 18,
 36: 1,
 37: 1,
 41: 1,
 42: 342,
 43: 8,
 44: 1,
 45: 1,
 46: 1,
 47: 1,
 48: 1,
 49: 1,
 50: 17,
 51: 1,
 53: 9,
 54: 1,
 55: 1,
 56: 1,
 57: 1,
 58: 1,
 59: 3,
 60: 8,
 61: 1,
 63: 362,
 64: 1,
 65: 1,
 66: 1,
 67: 1,
 68: 1,
 69: 521,
 72: 1,
 73: 1,
 74: 59,
 75: 1,
 76: 1,
 77: 3,
 78: 1,
 80: 8,
 81: 78,
 82: 205,
 83: 1,
 84: 1,
 85: 1,
 86: 1,
 87: 104,
 88: 1,
 89: 1,
 90: 1,
 91: 1,
 92: 1,
 94: 2,
 95: 5,
 96: 2,
 97: 1,
 98: 1,
 99: 1,
 100: 1,
 101: 1,
 103: 1,
 105: 1,
 106: 1,
 107: 1,
 109: 1,
 110: 1,
 111: 1,
 112: 1,
 113: 1,
 114: 1,
 115: 1,
 116: 1,
 117: 1,
 119: 1,
 121: 1,
 123: 1,
 124: 1,
 125: 1,
 126: 5,
 127: 1,
 128: 2,
 132: 1,
 133: 72,
 135: 24,
 136: 6,
 138: 1,
 139: 1,
 140: 1,
 141: 20,
 142: 4,
 143: 1,
 144: 1,
 146: 111,
 147: 1,
 150: 1,
 151: 1,
 153: 157,
 154: 1,
 155: 1,
 156: 1,
 158: 1,
 159: 1,
 160: 147,
 161: 1,
 162: 1,
 164: 1,
 165: 17,
 167: 1,
 168: 319,
 171: 4,
 172: 13,
 173: 1,
 174: 22,
 175: 1,
 176: 1,
 178: 1,
 179: 1,
 180: 1,
 181: 1,
 182: 1,
 183: 1,
 184: 1,
 185: 56,
 187: 1,
 188: 16,
 189: 1,
 193: 1,
 195: 1,
 196: 1,
 197: 205,
 198: 1,
 200: 159,
 201: 1,
 202: 56,
 203: 213,
 204: 1,
 205: 1,
 206: 1,
 208: 1,
 209: 142,
 210: 1,
 211: 1,
 212: 2,
 213: 1,
 214: 107,
 215: 1,
 216: 1,
 217: 1,
 219: 1,
 220: 1,
 221: 4,
 222: 1,
 223: 2,
 225: 1,
 226: 1,
 227: 1,
 228: 1,
 230: 305,
 232: 1,
 234: 1,
 235: 1,
 236: 1,
 237: 1,
 238: 1,
 239: 1,
 240: 1,
 241: 3,
 242: 1,
 243: 1,
 244: 1,
 245: 196,
 246: 1,
 247: 60,
 249: 1,
 250: 1,
 251: 4,
 252: 1,
 253: 1,
 254: 2,
 255: 1,
 256: 1,
 258: 1,
 259: 1,
 260: 1,
 261: 1,
 262: 1,
 263: 264,
 265: 22,
 266: 1,
 267: 1,
 268: 1,
 271: 1,
 273: 1,
 275: 21,
 277: 3,
 278: 1,
 280: 56,
 283: 25,
 284: 1,
 285: 1,
 286: 1,
 289: 1,
 290: 1,
 291: 2,
 292: 1,
 293: 1,
 294: 1,
 295: 1,
 297: 271,
 298: 94,
 299: 1,
 300: 1,
 302: 1,
 303: 1,
 305: 17,
 308: 1,
 309: 1,
 310: 167,
 311: 81,
 312: 1,
 313: 1,
 315: 1,
 316: 1,
 317: 1,
 319: 1,
 320: 1,
 321: 4,
 322: 202,
 323: 1,
 325: 1,
 326: 1,
 329: 1,
 330: 3,
 331: 1,
 333: 1,
 335: 1,
 337: 4,
 338: 2,
 339: 1,
 340: 1,
 341: 108,
 342: 1,
 343: 1,
 345: 9,
 346: 1,
 347: 9,
 349: 1,
 350: 2,
 351: 33,
 352: 1,
 353: 1,
 354: 1,
 357: 1,
 360: 1,
 362: 9,
 363: 49,
 364: 1,
 365: 1,
 366: 1,
 367: 7,
 368: 1,
 370: 110,
 371: 1,
 374: 1,
 375: 11,
 376: 1,
 379: 1,
 381: 1,
 382: 3,
 383: 21,
 388: 1,
 389: 1,
 390: 8,
 391: 1,
 393: 1,
 394: 1,
 395: 1,
 397: 5,
 398: 12,
 399: 1,
 400: 1,
 401: 41,
 402: 1,
 403: 1,
 405: 1,
 406: 1,
 407: 1,
 408: 1,
 409: 1,
 411: 1,
 413: 2,
 416: 1,
 417: 4,
 418: 32,
 420: 1,
 423: 1,
 424: 1,
 425: 1,
 426: 1,
 427: 1,
 430: 96,
 431: 1,
 433: 1,
 434: 1,
 435: 1,
 436: 1,
 438: 1,
 439: 1,
 440: 1,
 442: 1,
 444: 1,
 445: 487,
 446: 1,
 448: 1,
 449: 1,
 450: 117,
 451: 1,
 452: 1,
 453: 1,
 455: 3,
 457: 1,
 460: 11,
 461: 1,
 462: 146,
 464: 1,
 465: 1,
 469: 24,
 471: 76,
 472: 6,
 473: 1,
 474: 1,
 477: 1,
 478: 5,
 479: 6,
 480: 1,
 481: 6,
 482: 1,
 483: 98,
 486: 2,
 487: 1,
 488: 1,
 490: 1,
 492: 78,
 493: 1,
 494: 31,
 495: 1,
 497: 205,
 498: 1,
 500: 2,
 501: 1,
 502: 17,
 504: 1,
 505: 1,
 506: 5,
 508: 1,
 509: 283,
 510: 308,
 511: 3,
 512: 134,
 513: 1,
 514: 1,
 515: 1,
 516: 1,
 517: 1,
 518: 28,
 519: 1,
 520: 12,
 521: 1,
 522: 89,
 524: 1,
 525: 1,
 526: 1,
 528: 3,
 529: 114,
 531: 1,
 533: 1,
 534: 1,
 535: 250,
 536: 1,
 537: 1,
 538: 1,
 539: 1,
 540: 56,
 542: 1,
 543: 5,
 546: 1,
 547: 40,
 549: 1,
 552: 1,
 553: 211,
 554: 1,
 555: 5,
 557: 1,
 560: 1,
 561: 4,
 562: 1,
 563: 1,
 564: 115,
 565: 1,
 566: 1,
 568: 1,
 570: 1,
 571: 1,
 572: 44,
 573: 1,
 574: 1,
 575: 3,
 576: 1,
 579: 1,
 580: 1,
 581: 1,
 582: 1,
 583: 1,
 584: 1,
 586: 1,
 588: 1,
 589: 10,
 591: 5,
 592: 1,
 593: 1,
 595: 1,
 596: 1,
 597: 1,
 600: 1,
 601: 25,
 603: 489,
 604: 1,
 605: 408,
 607: 5,
 608: 4,
 609: 1,
 612: 1,
 614: 1,
 615: 1,
 616: 1,
 617: 4,
 618: 94,
 619: 1,
 620: 1,
 621: 1,
 623: 1,
 626: 1,
 627: 22,
 628: 16,
 630: 1,
 632: 87,
 633: 1,
 634: 44,
 635: 1,
 637: 1,
 638: 1,
 639: 197,
 640: 1,
 641: 1,
 643: 1,
 644: 1,
 646: 1,
 647: 1,
 648: 1,
 649: 4,
 651: 1,
 652: 1,
 654: 1,
 655: 1,
 656: 1,
 657: 1,
 658: 1,
 660: 1,
 661: 1,
 663: 1,
 665: 3,
 666: 1,
 667: 2,
 668: 1,
 669: 142,
 671: 1,
 673: 1,
 674: 1,
 675: 2,
 676: 1,
 677: 1,
 678: 1,
 679: 209,
 680: 126,
 682: 2,
 683: 2,
 685: 1,
 689: 1,
 690: 1,
 691: 1,
 692: 1,
 693: 1,
 694: 1,
 699: 1,
 700: 1,
 701: 1,
 702: 1,
 703: 2,
 704: 1,
 706: 1,
 707: 2,
 709: 1,
 710: 4,
 712: 1,
 714: 1,
 715: 4,
 716: 3,
 717: 12,
 719: 1,
 720: 1,
 724: 295,
 725: 14,
 726: 1,
 727: 1,
 728: 428,
 729: 1,
 733: 1,
 735: 1,
 736: 3,
 737: 1,
 738: 5,
 739: 1,
 740: 2,
 743: 1,
 745: 1,
 746: 3,
 749: 2,
 750: 1,
 751: 1,
 752: 1,
 753: 1,
 754: 437,
 755: 2,
 757: 1,
 758: 1,
 760: 1,
 761: 1,
 763: 1,
 765: 1,
 767: 1,
 768: 1,
 769: 1,
 771: 2,
 772: 319,
 773: 1,
 774: 1,
 775: 1,
 776: 1,
 777: 2,
 780: 1,
 782: 1,
 783: 360,
 784: 1,
 785: 1,
 786: 41,
 787: 1,
 788: 3,
 789: 2,
 791: 1,
 792: 1,
 793: 3,
 794: 1,
 795: 1,
 799: 1,
 801: 1,
 802: 1,
 804: 109,
 805: 1,
 808: 1,
 809: 1,
 810: 1,
 811: 1,
 812: 1,
 813: 1,
 814: 8,
 815: 3,
 817: 3,
 819: 1,
 820: 1,
 821: 1,
 822: 2,
 823: 1,
 824: 1,
 825: 1,
 826: 1,
 827: 2,
 828: 13,
 829: 1,
 830: 1,
 832: 1,
 833: 1,
 834: 1,
 835: 1,
 836: 1,
 837: 1,
 838: 1,
 842: 1,
 843: 1,
 845: 104,
 846: 1,
 848: 1,
 849: 1,
 850: 10,
 851: 130,
 853: 1,
 856: 1,
 857: 1,
 858: 1,
 859: 1,
 860: 1,
 863: 1,
 865: 1,
 869: 68,
 872: 1,
 874: 47,
 875: 1,
 876: 1,
 878: 1,
 880: 1,
 881: 1,
 882: 80,
 884: 1,
 885: 313,
 886: 1,
 887: 4,
 888: 1,
 891: 2,
 892: 1,
 894: 1,
 895: 1,
 899: 1,
 900: 1,
 901: 224,
 903: 1,
 905: 1,
 906: 600,
 907: 78,
 908: 1,
 910: 1,
 911: 1,
 912: 247,
 913: 1,
 914: 1,
 915: 1,
 916: 1,
 917: 1,
 918: 1,
 919: 1,
 921: 1,
 922: 2,
 924: 1,
 927: 1,
 928: 131,
 929: 1,
 932: 160,
 934: 218,
 937: 115,
 939: 1,
 940: 1,
 941: 1,
 942: 1,
 943: 44,
 946: 5,
 947: 1,
 948: 1,
 953: 29,
 956: 1,
 957: 1,
 958: 1,
 959: 1,
 960: 1,
 962: 1,
 963: 1,
 967: 1,
 969: 1,
 972: 1,
 973: 2,
 975: 2,
 976: 1,
 977: 1,
 978: 1,
 980: 152,
 981: 1,
 982: 1,
 983: 1,
 984: 1,
 985: 89,
 986: 1,
 989: 1,
 991: 7,
 992: 1,
 994: 6,
 995: 1,
 996: 1,
 997: 1,
 999: 8,
 1001: 1,
 1004: 1,
 1005: 2,
 1007: 10,
 1009: 65,
 1010: 1,
 1013: 11,
 1014: 1,
 1016: 1,
 1017: 260,
 1018: 60,
 1020: 1,
 1023: 1,
 1025: 1,
 1026: 5,
 1027: 367,
 1028: 1,
 1030: 3,
 1031: 1,
 1033: 1,
 1034: 1,
 1035: 7,
 1036: 1,
 1037: 1,
 1038: 1,
 1039: 6,
 1040: 1,
 1041: 1,
 1043: 1,
 1045: 1,
 1047: 1,
 1048: 1,
 1049: 3,
 1052: 1,
 1053: 1,
 1054: 1,
 1055: 318,
 1056: 2,
 1057: 1,
 1058: 1,
 1060: 1,
 1061: 78,
 1063: 1,
 1064: 5,
 1066: 1,
 1068: 1,
 1069: 1,
 1070: 1,
 1072: 326,
 1074: 1,
 1076: 1,
 1077: 1,
 1078: 1,
 1079: 2,
 1080: 1,
 1082: 1,
 1083: 1,
 1084: 1,
 1085: 1,
 1086: 1,
 1087: 3,
 1088: 6,
 1089: 174,
 1090: 1,
 1091: 1,
 1092: 1,
 1093: 25,
 1094: 104,
 1095: 1,
 1096: 1,
 1099: 222,
 1100: 2,
 1101: 1,
 1103: 1,
 1104: 1,
 1105: 1,
 1106: 9,
 1107: 59,
 1108: 1,
 1109: 2,
 1110: 1,
 1112: 1,
 1113: 1,
 1114: 1,
 1115: 1,
 1117: 1,
 1119: 65,
 1121: 1,
 1123: 13,
 1124: 24,
 1125: 4,
 1126: 2,
 1128: 112,
 1129: 163,
 1131: 1,
 1132: 1,
 1133: 1,
 1134: 1,
 1135: 1,
 1136: 32,
 1137: 1,
 1139: 1,
 1140: 3,
 1141: 8,
 1143: 1,
 1144: 1,
 1145: 18,
 1147: 6,
 1148: 1,
 1149: 5,
 1150: 42,
 1151: 14,
 1152: 1,
 1153: 1,
 1154: 1,
 1155: 397,
 1156: 137,
 1157: 1,
 1159: 1,
 1160: 1,
 1161: 1,
 1162: 10,
 1163: 106,
 1166: 1,
 1167: 1,
 1168: 1,
 1169: 1,
 1170: 1,
 1171: 1,
 1173: 12,
 1176: 1,
 1177: 1,
 1178: 4,
 1180: 1,
 1181: 1,
 1183: 1,
 1184: 1,
 1186: 13,
 1187: 1,
 1188: 1,
 1191: 1,
 1193: 1,
 1194: 1,
 1195: 1,
 1196: 75,
 1197: 4,
 1199: 1,
 1200: 1,
 1202: 374,
 1203: 1,
 1205: 1,
 1207: 1,
 1210: 1,
 1211: 1,
 1212: 9,
 1213: 1,
 1214: 36,
 1217: 1,
 1218: 1,
 1221: 1,
 1222: 19,
 1223: 1,
 1225: 1,
 1226: 1,
 1227: 8,
 1229: 1,
 1230: 1,
 1232: 1,
 1233: 4,
 1234: 1,
 1235: 25,
 1236: 1,
 1237: 1,
 1238: 6,
 1239: 1,
 1240: 4,
 1242: 6,
 1243: 1,
 1244: 1,
 1245: 79,
 1247: 1,
 1250: 48,
 1251: 1,
 1252: 1,
 1253: 1,
 1254: 2,
 1256: 2,
 1257: 1,
 1260: 1,
 1266: 1,
 1267: 1,
 1268: 1,
 1271: 1,
 1273: 1,
 1274: 41,
 1278: 1,
 1279: 1,
 1280: 199,
 1281: 1,
 1282: 1,
 1283: 1,
 1285: 1,
 1286: 1,
 1287: 1,
 1288: 1,
 1289: 1,
 1290: 106,
 1291: 1,
 1293: 1,
 1294: 1,
 1296: 1,
 1297: 5,
 1298: 1,
 1299: 3,
 1301: 2,
 1302: 1,
 1303: 5,
 1305: 1,
 1306: 1,
 1307: 2,
 1308: 1,
 1309: 1,
 1310: 1,
 1311: 4,
 1312: 4,
 1313: 1,
 1314: 1,
 1316: 1,
 1317: 1,
 1318: 112,
 1319: 87,
 1320: 304,
 1321: 3,
 1322: 1,
 1324: 1,
 1325: 1,
 1326: 1,
 1327: 48,
 1328: 1,
 1331: 1,
 1332: 1,
 1333: 1,
 1335: 1,
 1338: 1,
 1339: 326,
 1343: 196,
 1344: 1,
 1345: 272,
 1346: 1,
 1347: 1,
 1349: 1,
 1350: 82,
 1352: 1,
 1353: 1,
 1354: 1,
 1355: 1,
 1356: 1,
 1357: 132,
 1358: 1,
 1359: 1,
 1360: 1,
 1361: 12,
 1363: 1,
 1365: 1,
 1366: 1,
 1367: 1,
 1368: 210,
 1369: 1,
 1371: 1,
 1372: 1,
 1373: 1,
 1378: 1,
 1379: 4,
 1380: 4,
 1381: 1,
 1382: 1,
 1385: 5,
 1386: 1,
 1387: 1,
 1388: 1,
 1389: 1,
 1390: 1,
 ...}

In [56]:
user_id_time=df_users_assign.convertedtime

In [110]:
dictID={}

In [112]:
count=0
for elem in dictIDCount.keys():
    if dictIDCount[elem]<3:
        dictID[elem]=False
        count=count+dictIDCount[elem]
    else:
        for ith in range(count,count+dictIDCount[elem]-2):
            
                
            if user_id_time[ith]+ timedelta(weeks=1)>=user_id_time[ith+2]:
                dictID[elem]=True
                #print "True"
            #print user_id_time[ith+2]
                
        if elem not in dictID:
            dictID[elem]=False
        count=count+dictIDCount[elem]

In [ ]:
df_users['is_adopted']=

In [115]:
customer_id=df_users.object_id

In [118]:
is_adopted=[]
for elem in customer_id:
    if elem in dictID:
        if dictID[elem]==True:
            is_adopted.append(True)
        else:
            is_adopted.append(False)
    else:
        is_adopted.append(False)

In [119]:
df_users['is_adopted']=is_adopted

In [120]:
df_users.head(10)

,object_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id,is_adopted
0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1398138810,1,0,11,10803,False
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1396237504,0,0,1,316,True
2,3,2013-03-19 23:14:52,Bottrill Mitchell,MitchellBottrill@gustr.com,ORG_INVITE,1363734892,0,0,94,1525,False
3,4,2013-05-21 08:09:28,Clausen Nicklas,NicklasSClausen@yahoo.com,GUEST_INVITE,1369210168,0,0,1,5151,False
4,5,2013-01-17 10:14:20,Raw Grace,GraceRaw@yahoo.com,GUEST_INVITE,1358849660,0,0,193,5240,False
5,6,2013-12-17 03:37:06,Cunha Eduardo,EduardoPereiraCunha@yahoo.com,GUEST_INVITE,1387424226,0,0,197,11241,False
6,7,2012-12-16 13:24:32,Sewell Tyler,TylerSewell@jourrapide.com,SIGNUP,1356009872,0,1,37,NaN,False
7,8,2013-07-31 05:34:02,Hamilton Danielle,DanielleHamilton@yahoo.com,PERSONAL_PROJECTS,NaN,1,1,74,NaN,False
8,9,2013-11-05 04:04:24,Amsel Paul,PaulAmsel@hotmail.com,PERSONAL_PROJECTS,NaN,0,0,302,NaN,False
9,10,2013-01-16 22:08:03,Santos Carla,CarlaFerreiraSantos@gustr.com,ORG_INVITE,1401833283,1,1,318,4143,True

In [122]:
df_users.describe()

,object_id,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id,is_adopted
count,12000.00000,8.823000e+03,12000.000000,12000.000000,12000.000000,6417.000000,12000
mean,6000.50000,1.379279e+09,0.249500,0.149333,141.884583,5962.957145,0.138
std,3464.24595,1.953116e+07,0.432742,0.356432,124.056723,3383.761968,0.3449144
min,1.00000,1.338452e+09,0.000000,0.000000,0.000000,3.000000,False
25%,3000.75000,1.363195e+09,0.000000,0.000000,29.000000,3058.000000,0
50%,6000.50000,1.382888e+09,0.000000,0.000000,108.000000,5954.000000,0
75%,9000.25000,1.398443e+09,0.000000,0.000000,238.250000,8817.000000,0
max,12000.00000,1.402067e+09,1.000000,1.000000,416.000000,11999.000000,True

In [124]:
df_users.std()

object_id                         3464.245950
last_session_creation_time    19531160.786960
opted_in_to_mailing_list             0.432742
enabled_for_marketing_drip           0.356432
org_id                             124.056723
invited_by_user_id                3383.761968
is_adopted                           0.344914
dtype: float64

In [127]:
df_users.hist()
pl.show()

In [128]:
model_cols=['creation_source','opted_in_to_mailing_list','enabled_for_marketing_drip']

In [132]:
df_users.to_csv('df_new_user.csv')

In [ ]:
is_adopted